.footer {
	background-color: #10122d;
	.title {
		padding: 2em 0 0 0;
		letter-spacing: 1px;
		color: Snow;
		font-size: 1em;
		line-height: 1.2em;
		font-weight: 200;
		margin-bottom: 0.2em;
	}
	.sub-title {
		padding: 1em 0;
		letter-spacing: 1px;
		color: #8284a5;
		font-size: 0.8em;
		line-height: 1.2em;
		font-weight: 100;
		margin-bottom: 2em;
	}
}