<div class="header-card">
  <mat-card-title style="margin: 0px 20px 10px 20px; padding: 8px">
    <div class="brand animated fadeInDown" pageScroll>
      <img [src]="favicon.url" class="icon">
      <span class="title">
        {{ "windforce"|textFormat:3 }}
      </span>
    </div>
  </mat-card-title>
  <div style="text-align: center; font-size: 1.5em">
    <span>{{'total balance'| textFormat:3}}</span>
  </div>  
  <div style="text-align: center">
    <span style="font-size: 2em; font-weight: bold; margin-right: 15px">50000.00</span><span>WIND</span>
  </div>  
</div>
<div class="ws-fab">
  <button mat-fab class="send-fab" style="z-index: 9;">1</button>
  <button mat-fab class="recieve-fab" style="z-index: 9">2</button>
</div>
<mat-tab-group class="demo-tab-group">
  <mat-tab>
    <ng-template mat-tab-label style="background: red; color: snow">
     <span>{{'dashboard'|textFormat: 3}}</span>
   </ng-template>
   <mat-grid-list cols="2" rowHeight="700px">

    <!--establised contract section -->
    <mat-grid-tile colspan="2">
      <mat-card style="width: 100%; height: 95%; margin: 10px; justify-content: space-between;">
        <mat-card-title>
          <span class="contract-card-title">{{'established maintainance contract'|textFormat: 3}}</span>
          <span class="add-new">
            <button mat-button class="new-button" (click)="createNewTemplate()">{{'new contract template'|textFormat:2}}</button>
          </span>
        </mat-card-title>
        <mat-divider></mat-divider>


        <!-- Contract detail component -->
        <mat-card-content>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical="true" style="margin-top: 10px">
            <mat-button-toggle value="bold">All</mat-button-toggle>
            <mat-button-toggle value="italic">
              <span matBadge="15" matBadgeColor="warn" matBadgeSize="medium" matBadgeOverlap="false">Pending</span>
            </mat-button-toggle>
            <mat-button-toggle value="underline">Ongoing</mat-button-toggle>
            <mat-button-toggle value="bold">Completed</mat-button-toggle>
            <mat-button-toggle value="italic">Failed/Canceled</mat-button-toggle>
          </mat-button-toggle-group>
          <ngx-carousel
          [inputs]="carouselTile"
          (carouselLoad)="carouselTileLoad($event)">
          <ngx-tile NgxCarouselItem *ngFor="let template of templates">
            <app-card-template [template]=[template]></app-card-template>
          </ngx-tile>
          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>


</mat-grid-list>
</mat-tab>



<mat-tab label="{{'wallet'|textFormat: 3}}">
  <div class="demo-tab-content">
    <app-wallet></app-wallet>
  </div>  
</mat-tab>
<mat-tab label="{{'Browse'|textFormat: 3}}">
  <div class="demo-tab-content">

  </div>  
</mat-tab>
<mat-tab label="{{'settings'|textFormat: 3}}">
  <div class="demo-tab-content">

  </div>  
</mat-tab>
</mat-tab-group>
<app-footer></app-footer>


<!-- 
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened="true" class="mat-drawer-wind">
    <mat-card-title style="position: relative; margin: 0 20px 10px 20px;padding: 8px">
      <div class="brand animated fadeInDown" pageScroll>
        <img [src]="favicon.url" class="icon">
        <span class="title">
          {{ "windforce"|textFormat:3 }}
        </span>
      </div>
      
    </mat-card-title>

    <hr>
    <mat-accordion>
      <mat-expansion-panel class="expansion-panel-side">
        <mat-expansion-panel-header>
          <mat-panel-title class = "side-nav-text">
            {{"service"|textFormat:3}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-row class="side-nav-text service-type">
          <button mat-button class="side-nav-text sub-service" (click)="switchPage('maintainace')">{{"maintanence"|textFormat:3}}</button>
          <button mat-button class="side-nav-text sub-service">{{"new service"|textFormat:3}}</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion-panel-side" [disabled]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Wallet
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel> 
      <button mat-button class="wallet-button side-nav-text" (click)="switchPage('wallet')">
        <i class="fas fa-file"></i>
      {{"wallet"|textFormat:3}}</button>
    </mat-accordion>
    <hr>

    
    <div style="text-align: center; font-size: 22px; margin-bottom: 20px; margin-top: -39px; color: rgba(6, 92, 111, 1)"><font>50000.00 WIND</font></div>
    <div class="secret-qr"></div>
  </mat-drawer>
  <mat-drawer-content style="width: 80%;color: snow; background: #0b0c22">
    <app-maintainance *ngIf="currentPage == 'maintainance'"></app-maintainance>
    <app-wallet *ngIf="currentPage == 'wallet'"></app-wallet>
  </mat-drawer-content>
</mat-drawer-container>
 -->