.list-info{
  height: 100%;
  width: 100%;
}

.template-attribute{
  font-weight: bold;
}

.template-value{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 25%;
  color: rgba(6, 92, 111, 1);
}

.new-maintainance-contract-template{

}
